<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-button ID = "hamburguesa" (click)="mostrarMenu()" color="contrast">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
       </ion-button>
    </ion-buttons>
    <ion-title ID = "titulokkk">Cuentas</ion-title>
    <ion-icon ID = "hamburguesa" (click)="logout()" name="exit-outline" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content class="fondologin">
  <br><br>
  <ion-item ID = "titulokkk" color="mycolor">
    <ion-label>
      CUENTAS REGISTRADAS
    </ion-label>
  </ion-item>

<ion-content>
  <ion-list #myList>
    <ion-list>
      <ion-item-sliding *ngFor="let dato of datos">
        <ion-item>
          <ion-label text-wrap> 
            <h3>{{dato.usuario}}</h3>
            <ion-text color="secondary">
              <p>{{dato.password}}</p>
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </ion-list>
</ion-content>
